.filter-container {
  width: 300px;
  border: 1px solid black;
  margin-top: 30px;
  margin-bottom: 40px;
  height: 130px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.filter-input {
  height: 50px;
  width: 250px;
  background-color: var(--primary-color);
  color: var(--grey-light-50-color);
  font-size: 16px;
  border: 1px solid var(--grey-light-50-color);
  border-radius: 4px;
  padding: 12px 5px 12px 20px;
}

@media (min-width: 576px) {
  .filter-container {
    width: 496px;
  }
}

@media (min-width: 768px) {
  .filter-container {
    width: 688px;
  }
}

@media (min-width: 992px) {
  .filter-container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .filter-container {
    width: 960px;
    height: 130px;
  }
}
